.lower-impact-purchases{
    border: 1px black solid;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    max-width: 600px;
    width: 80%;
    padding: 0 3rem 2rem 3rem;

    p{
        font-size: 14px;
        line-height: 1.125rem;
    }
    .tabContainer{
         display: flex;
        
         ul{
            display: flex;
            justify-content: center;
            list-style-type: none;
            margin: 0 auto;
            border-bottom: 1px solid black;
            width: 100%;
            
            li{
                background-color: white;
                border: 1px solid black;
                border-radius: .5rem .5rem 0 0;
                padding: .5rem;
                margin: 0 2.5px 0-1px 2.5px;

                button{
                    background-color: white;
                    border: none;
                }
            }

            .active{
                border: rgb(0, 0, 0) 1px solid;
                border-bottom: white 1px solid;
                button{
                    color: rgb(0, 0, 0);
                }
            }

            .inactive{
                border: rgb(187, 187, 187) 1px solid;
                border-bottom: 1px rgb(0, 0, 0) solid;
                button{
                    color: rgb(149, 149, 149);
                }
            }
         }
    }

    table{
        thead{
            border-top: 1px solid black;
            display: flex;
            justify-content: center;
            width: 100%;
        }

        tr{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            border-bottom: 1px #d3d3d3 solid;
            cursor: pointer;
        }

        td{
            display: flex;
            align-items: center;
            font-weight: 600;
            padding: .5rem 0;
            img{
                margin-right: 2rem;
            }

            .forwardArrow{
                color: #d3d3d3;
                margin-left: 1rem;
                transform: scale(.5);
            }
        }
    }
}